@model Task_4.Models.Transport

@{
    ViewData["Title"] = "Деталі маршруту";
}

<div class="details-card">
    <h2>Деталі маршруту</h2>

    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Вид транспорту:</strong> @Model.VidTransportu</p>
    <p><strong>Номер маршруту:</strong> @Model.NomMarshruta</p>
    <p><strong>Протяжність (км):</strong> @Model.ProtjazhnistMarshruta</p>
    <p><strong>Час в дорозі (хв):</strong> @Model.ChasVDorozi</p>
    <p><strong>Кількість зупинок:</strong> @Model.KilkistZupynok</p>

    <hr />
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редагувати</a>
</div>
