@model Task_1.Models.Transport
@{
    ViewData["Title"] = "Форма транспорту";
    var transports = ViewBag.Transports as List<Task_1.Models.Transport>;
}

<h1>Форма введення даних про транспорт</h1>

<form asp-action="Index" method="post">
    <!-- TransportType -->
    <div class="mb-3">
        <span asp-validation-for="TransportType" class="text-danger" style="display:block;"></span>
        <label asp-for="TransportType" class="form-label">Вид транспорту (Tr, Tl, A)</label>
        <input asp-for="TransportType" class="form-control" placeholder="Tr / Tl / A" />
    </div>

    <!-- RouteNumber -->
    <div class="mb-3">
        <span asp-validation-for="RouteNumber" class="text-danger" style="display:block;"></span>
        <label asp-for="RouteNumber" class="form-label">Номер маршруту</label>
        <input asp-for="RouteNumber" class="form-control" placeholder="12A" />
    </div>

    <!-- RouteDistance -->
    <div class="mb-3">
        <label asp-for="RouteDistance" class="form-label">Протяжність (км)</label>
        <input asp-for="RouteDistance" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="RouteDistance" class="text-danger" style="margin-left:10px;"></span>
    </div>

    <!-- TravelTime -->
    <div class="mb-3">
        <label asp-for="TravelTime" class="form-label">Час в дорозі (хв)</label>
        <input asp-for="TravelTime" type="number" class="form-control" />
        <span asp-validation-for="TravelTime" class="text-danger" style="margin-left:10px;"></span>
    </div>

    <button type="submit" class="btn btn-primary">Додати до БД</button>
    <a asp-action="Index" class="btn btn-secondary">Скинути</a>
</form>

<form asp-action="DeleteAll" method="post" style="margin-top:15px;">
    <button class="btn btn-danger" type="submit">Видалити всі записи</button>
</form>

@if (transports?.Any() == true)
{
    <hr />
    <h2 style =" color: white">Вміст таблиці Transports</h2>
    <table class="table custom-bordered-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Вид</th>
                <th>Номер</th>
                <th>Дистанція</th>
                <th>Час</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in transports)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.TransportType</td>
                    <td>@t.RouteNumber</td>
                    <td>@t.RouteDistance</td>
                    <td>@t.TravelTime</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@t.Id" class="btn btn-sm btn-info btn-edit">Редагувати</a>
                        <form asp-action="DeleteRecord" method="post" class="inline-form">
                            <input type="hidden" name="id" value="@t.Id" />
                            <button type="submit" class="btn-delete">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <hr />
    <h2>Вміст таблиці Transports</h2>

    <p>Таблиця порожня.</p>
}
